  
$backgroundColor : hsl(225, 100%, 94%);
$accent: hsl(245, 75%, 52%);
$veryPaleBlue : hsl(225, 100%, 98%);
$fontColor : hsl(224, 23%, 55%);
$headingColor : hsl(223, 47%, 23%);
$bodyFont: 1.6rem;

/*Basic styles*/
html{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 62.5%;
}

body{
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-content: center;
    background-color: $backgroundColor;
    margin: 8rem 3rem;
    text-align: center;
    font-size: $bodyFont; 
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    
 }

 
/* Container Section */

.container{
    
    background-color: white;
    margin:1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;  
}

/*image container section */

.image-container img{
    width:100%;
    background-size: cover;
    border-radius: 2rem 2rem 0 0;
 }

 /*article container section */

 .article-container p{
    padding:0 3rem;
    font-weight: 400;
    color:$fontColor;
    line-height: 2.5rem;
    font-size: 1.5rem;
 }

 h1{
    font-weight: 900;
    color:$headingColor;
    font-size: 2.2rem;
}

/* pricing container section */

.pricing-container{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  align-self: center;
  border-radius: 1rem;
  background-color: $veryPaleBlue;
  padding:1rem 2rem;
  margin-top: 1rem;
}

.music-icon{
    margin-left: -1.0rem;
}

.price__content{
    font-size: 1.2rem;
    font-weight: 400;
    color: $fontColor;
}

.price__heading{
    color: $headingColor;
    font-weight: 900;
    font-size: 1.3rem;
    display: block;
    margin-bottom: 0.1rem;
}

.price-tag{
    margin: 0 3rem 0 1rem;
 }


.link a{
   
    font-size:0.9rem;
}

.link a:hover{
    text-decoration: none;
    
}

 /* buttons section*/

.btn{
    width:75%;
    align-self: center;
    margin:2rem;
    border:0;
    padding: 1.5rem 5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    
}

.btn__proceed{
    color: $veryPaleBlue;
    background-color: $accent;
}

.btn__proceed:hover{
   opacity: 0.9;
}

.btn__cancel:hover{
color:$headingColor;
}
.btn__cancel{
    margin-top: -1.2rem;
    background-color: transparent;
    color:$fontColor;
    font-weight: 900;
}

.shadow{
    box-shadow: 0px 3px 10px rgba($color: $accent, $alpha: 0.5);
}
/* footer */

.attribution a{
    color: $accent;
}
.attribution{
    color: $headingColor;
    font-size: 1rem;
}



@media screen and (min-width:1024px){
   .container{
    width: 25vw;
   }
   body{
    background-image: url(../images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
 }
   .article-container p{
    font-size: 1.3rem;
    padding:0 5.9rem;
   }
  
.music-icon {
    margin-left: -2.3rem;
    
}
 .price__content{
    font-weight: 400;
    color:$fontColor;
    font-size: 1.1rem;
    
 }
  
 .price__heading{
    font-size: 1.1rem;
    display: block;
    margin-bottom: 0.1rem;
    
 }

 .price-tag{
    margin: 0 5rem 0 1rem;
 }

 .link a{
    font-size: 1.2rem;
    color:$accent;
 }

 .btn{
    padding: 0.9rem 4rem;
    font-size: 1.2rem;
 }

 .attribution{
    font-size: 1.4rem;
 }
}